PORT=8000
NODE_ENV=development
APP_URL=http://localhost:8000

DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRES_IN=15d
JWT_REFRESH_EXPIRES_IN=30d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email@gmail.com
SMTP_PASS="your_app_password_here"

STORE_ID=your_store_id
STORE_PASSWORD=your_store_password
SUCCESS_URL=http://localhost:3030/success
FAIL_URL=http://localhost:3030/fail
CANCEL_URL=http://localhost:3030/cancel
IPN_URL=http://localhost:3030/ipn
GATEWAY_BASE_URL=https://sandbox.sslcommerz.com/gwprocess/v3/api.php


COMMISSION_RATE=0.15