PORT=8000
NODE_ENV=development
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

RESEND_API_KEY=re_your_api_key_here
RESEND_FROM_EMAIL=no-reply@yourdomain.com

STORE_ID=your_store_id
STORE_PASSWORD=your_store_password
GATEWAY_BASE_URL=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
VALIDATION_API_URL=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php

COMMISSION_RATE=0.15
